<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
    <button class="buttonbell" aria-label="Notificaciones">
      <svg viewBox="0 0 448 512" class="bell">
        <path d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"></path>
      </svg>
    </button>
  </ion-buttons>
    <ion-buttons slot="end" class="carrito">
      <ion-button (click)="goToCart()">
        <ion-icon name="cart-outline"></ion-icon>
        <span class="cart-count">{{ getCartCount() }}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Perfil -->
<div class="e-card playing user-card-style">

  <!-- Fondo animado superior -->
  <div class="image"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>

  <!-- Avatar centrado sobrepuesto -->
  <div class="user-avatar-wrapper">
    <ion-avatar class="user-avatar">
      <img [src]="userPhotoURL" *ngIf="userPhotoURL !== '' else defaultIcon" />
      <ng-template #defaultIcon>
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ng-template>
    </ion-avatar>
  </div>

  <!-- Card blanca con datos del usuario -->
  <div class="user-info-card">
    <h2 class="user-name">{{ userName }}</h2>
    <p class="user-email">{{ userEmail }}</p>
  </div>

</div>



  <!-- Opciones -->
 <!-- Lista de opciones directamente -->
<ion-item button (click)="goToCitas()">
  <ion-label>Mis citas</ion-label>
  <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
</ion-item>

<ion-item button (click)="goToCompras()">
  <ion-label>Historias de compras</ion-label>
  <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>Versión</ion-label>
  <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
</ion-item>

<ion-item button (click)="cerrarSesion()">
  <ion-label>Cerrar sesión</ion-label>
  <ion-icon name="log-out-outline" slot="end"></ion-icon>
</ion-item>


</ion-content>

